{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block body %}
    <h1>Edit Account</h1>

    {{ form_start(form) }}
        {{ form_row(form.username) }}

        {{ form_widget(form.plainPassword) }}

        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    {# Todo : before, correcting CSRF #}
    {# {{ form_end(form, {render_rest: false}) }} #}

    <a href="{{ path('app_home') }}">Back home</a>

{% endblock %}
