{% extends 'base.html.twig' %}

{% block title %}Member index{% endblock %}

{% block javascripts %}
    <script src="/script/fancyTable.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#Member").fancyTable({
                sortColumn:0,
                pagination: true,
                perPage:10,
                globalSearchExcludeColumns: [6],
                globalSearch:true
            });		
        });
    </script>
{% endblock %}

{% block body %}
    <h1>Member index</h1>

    <table class="table" id="Member">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>NickName</th>
                <th>Club</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.firstName }}</td>
                <td>{{ member.lastName }}</td>
                <td>{{ member.nickName }}</td>
                <td>{{ member.club }}</td>
                <td>
                    <a href="{{ path('app_member_show', {'id': member.id}) }}" class='btn btn-primary btn-sm'>show</a>
                    <a href="{{ path('app_member_edit', {'id': member.id}) }}" class='btn btn-danger btn-sm'>edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_member_new') }}">Create new</a>
{% endblock %}
