{{ form_start(form) }}
    {{ form_row(form.name) }}
    
    {{ form_row(form.competitionAt) }}
    
    {{ form_row(form.publishingScoresAt) }}
    
    {{ form_row(form.nbTeamByFly) }}
    
    {{ form_row(form.nbMemberByTeam) }}
    
    {% if mode != 'Competition' %}
        {{ form_row(form.championship) }}
    {% else %}
        <select name="{{ field_name(form.championship) }}" class="form-control">
            {% for label, value in field_choices(form.championship) %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
    {% endif %}

    {{ form_row(form.golfCourse) }}

    <button class="btn btn-primary m-1">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
