{% extends 'base.html.twig' %}

{% block title %}Competition index{% endblock %}

{% block javascripts %}
    <script src="/script/fancyTable.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#Competition").fancyTable({
                sortColumn:0,
                pagination: true,
                perPage:10,
                globalSearchExcludeColumns: [5],
                globalSearch:true
            });		
        });
    </script>
{% endblock %}

{% block body %}
    <h1>Competition index</h1>

    <table class="table" id="Competition">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CompetitionAt</th>
                <th>PublishingScoresAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competition in competitions %}
            <tr>
                <td>{{ competition.id }}</td>
                <td>{{ competition.name }}</td>
                <td>{{ competition.competitionAt ? competition.competitionAt|date('Y-m-d') : '' }}</td>
                <td>{{ competition.publishingScoresAt ? competition.publishingScoresAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_competition_show', {'id': competition.id}) }}">show</a>
                    <a href="{{ path('app_competition_edit', {'id': competition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary m-1" href="{{ path('app_competition_new') }}">Create new</a>
{% endblock %}
