{% extends 'base.html.twig' %}

{% block title %}Competition{% endblock %}

{% block body %}
    <h1>Competition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competition.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ competition.name }}</td>
            </tr>
            <tr>
                <th>DateStartCompetition</th>
                <td>{{ competition.competitionAt ? competition.competitionAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateScoresPublishing</th>
                <td>{{ competition.publishingScoresAt ? competition.publishingScoresAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nb Team By Fly</th>
                <td>{{ competition.nbTeamByFly }}</td>
            </tr>
            <tr>
                <th>Nb Member By Team</th>
                <td>{{ competition.nbMemberByTeam }}</td>
            </tr>
            <tr>
                <th>Championship</th>
                <td>{{ competition.championship }}</td>
            </tr>
            <tr>
                <th>Golf course</th>
                <td>{{ competition.golfCourse }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary m-1" href="{{ path('app_competition_index') }}">back to list</a>

    <a class="btn btn-primary m-1" href="{{ path('app_competition_edit', {'id': competition.id}) }}">edit</a>

    {{ include('competition/_delete_form.html.twig') }}
{% endblock %}
