{% extends 'base.html.twig' %}

{% block title %}Championship index{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <script src="/script/table-sort.js"></script>

    <h1>Championship index</h1>

    <table class="table" id="championshipIndex">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Season</th>
                <th>IsInternal</th>
                <th class="disable-sort">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for championship in championships %}
            <tr>
                <td>{{ championship.id }}</td>
                <td>{{ championship.name }}</td>
                <td>{{ championship.Description }}</td>
                <td>{{ championship.season }}</td>
                <td>{{ championship.isInternal ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_championship_show', {'id': championship.id}) }}" class='btn btn-primary btn-sm'>show</a>
                    <a href="{{ path('app_championship_edit', {'id': championship.id}) }}" class='btn btn-danger btn-sm'>edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary m-1" href="{{ path('app_championship_new') }}">Create new</a>
{% endblock %}
