<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eleventh navbar example">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample09">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_home')}}">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Actors</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{ path('app_club_index')}}">Clubs</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_team_index')}}">Teams</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_member_index')}}">Members</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Parameters</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{ path('app_rule_index')}}">Rule</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_target_index')}}">Targets</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_spot_index')}}">Spots</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Championship</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{ path('app_championship_index')}}">Championship</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_competition_index')}}">Competition</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_golf_course_index')}}">Golf course</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Event</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{ path('app_competition_fly_index')}}">Flight</a>
						</li>
					</ul>
				</li>
				{% if is_granted('ROLE_USER') %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
						<ul class="dropdown-menu">
							<li class="nav-item">
								<a class="dropdown-item" href="javascript: document.formSignout.submit()">Logout</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_account')}}">Manage account</a>
							</li>
						</ul>
					</li>
					<div style="display: none;">
						<form name="formSignout" action="{{ path('app_logout')}}" method="post">
						</form>
					</div>		
				{% else %}
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('app_login')}}">Login</a>
				</li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_user_index')}}">Admin</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
