{% extends 'base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
    <script src="/script/table-sort.js"></script>

    <h1>Club index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th class="disable-sort">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td>{{ club.id }}</td>
                <td>{{ club.name }}</td>
                <td>{{ club.description }}</td>
                <td>
                    <a href="{{ path('app_club_show', {'id': club.id}) }}" class='btn btn-primary btn-sm'>show</a>
                    <a href="{{ path('app_club_edit', {'id': club.id}) }}" class='btn btn-danger btn-sm'>edit</a>
                    <a href="{{ path('app_club_teams_index', {'id': club.id}) }}" class='btn btn-primary btn-sm'>teams</a>
                    <a href="{{ path('app_club_members_index', {'id': club.id}) }}" class='btn btn-primary btn-sm'>members</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary m-1" href="{{ path('app_club_new') }}" class="btn btn-primary" role="button">Create new</a>
{% endblock %}
