{% extends 'base.html.twig' %}

{% block title %}Club index
{% endblock %}

{% block body %}
	<h1>Club index</h1>

	<div>{{ club.name }}</div>
	<div>{{ club.description }}</div>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for team in club.teams %}
				<tr>
					<td>{{ team.id }}</td>
					<td>{{ team.name }}</td>
					<td>{{ team.description }}</td>
					<td>
                    <a href="{{ path('app_team_edit', {'id': team.id}) }}">edit</a>
                    </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    <a href="{{ path('app_team_new', {'club_id': club.id}) }}" class="btn btn-primary" role="button">Create new team</a>
{% endblock %}
