{% extends 'base.html.twig' %}

{% block title %}Spot index{% endblock %}

{% block body %}
    <h1>Spot index</h1>

    <table class="table table-sort table-arrows remember-sort">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Place</th>
                <th>City</th>
                <th>Country</th>
                <th class="disable-sort">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spot in spots %}
            <tr>
                <td>{{ spot.id }}</td>
                <td>{{ spot.name }}</td>
                <td>{{ spot.place }}</td>
                <td>{{ spot.city }}</td>
                <td>{{ spot.country }}</td>
                <td>
                    <a href="{{ path('app_spot_show', {'id': spot.id}) }}" class='btn btn-primary btn-sm'>show</a>
                    <a href="{{ path('app_spot_edit', {'id': spot.id}) }}" class='btn btn-danger btn-sm'>edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary m-1" href="{{ path('app_spot_new') }}">Create new</a>
{% endblock %}
