{{ form_start(form) }}
    {{ form_row(form.name) }}

    {{ form_row(form.numberOfTargets) }}
   
    {{ form_row(form.spot) }}
    
    {{ form_row(form.targets) }}

    {{ form_row(form.isCompleted) }}
    
{# 
    <div {{ stimulus_controller('form-collection') }}
        data-form-collection-index-value="{{ form.targets|length > 0 ? form.targets|last.vars.name + 1 : 0 }}"
        data-form-collection-prototype-value="{{ form_widget(form.targets.vars.prototype)|e('html_attr') }}"
    >
        <ul {{ stimulus_target('form-collection', 'collectionContainer') }}></ul>
        <button type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>Add a target</button>
    </div>
    {{ form_row(form.spot) }}     
#}
    
    <button class="btn btn-primary m-1">{{ button_label|default('Save') }}</button>


    {{ form_row(form._token) }}
{{ form_end(form, {render_rest: false}) }}
